body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #E5E5E5;
}
    

.page-header {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    width: 1440px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    text-decoration: none;
}

.page-header .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}
.page-address.link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    position: absolute;
    width: 153px;
    left: 940px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.logo-first {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 44px;
    text-decoration: none;
}
.logo-second {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2E2F42;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 71px;
    text-decoration: none;
}

.site-nav .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;

}

.hero {
    width: 1440px;
    
    
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1,07x;
    text-align: center;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

.hero-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 494px;
}

.hero-button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: 0.04em;
    
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #4D5AE5;
}
.visually-hidden {
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;

}

.caption {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.image .pic {
    display: block;
    max-width: 100%;
    width: 360px;
    height: 300px;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
    flex: none;
    order: 0;
    flex-grow: 0;
}













.page-footer {
    width: 1440px;
    left: 0px;
    background: #2E2F42;
}

.text-footer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 264px;
    left: 156px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}