body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}
    

.page-header {
    display: flex;
    padding: 10px;
    width: 1440px;
    height: 72px;
}

.page-header .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}
.page-adress.link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.logo-first {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-second {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-decoration: none;
}

.site-nav .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
}

.hero {
    width: 1440px;
    height: 600px;
    left: 0;
    top: 72px;
    background-color: #2E2F42;
}

ul {
    list-style-type: none;
}

.hero-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
    width: 494px;
    height: 120px;
    top: 260px;
    left: 473px;
}

.hero-button{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-button:hover {
    background-color: #4D5AE5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    text-decoration: none;
}

.caption {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}