body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}
    

.page-header {
    display: flex;
    padding: 10px;
    width: 1440px;
    height: 72px;
}

.page-adress.link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.logo-first {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-second {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-decoration: none;
}

.site-nav .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
}

.hero {
    width: 1440px;
    height: 600px;
    left: 0;
    top: 72px;
    background-color: #2E2F42;
}

.hero-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    width: 494px;
    height: 120px;
    top: 260px;
    left: 473px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    display: flex;
}

.text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    text-decoration: none;
}

